
@import "material-structure-vars";


.grid,
[class^="grid-"],
[class*=" grid-"] {
    display: grid;
}

.grid-adaptive {

    grid-row-gap: 1ex;

    grid-template-columns: repeat(4, 1fr);

    @media (min-width: $layout-8-column-min-width) {
        grid-template-columns: repeat(8, 1fr);
    }
    @media (min-width: $layout-12-column-min-width) {
        grid-template-columns: repeat(12, 1fr);
    }
}


@for $width from 1 through 12 {
    .width-#{$width} {
        grid-column: span $width;
    }
}
