/*
 * Reset.css
 * Original by anonymous, further adapted by Blue Husky Studios.
 *
 * @author Ben Leggiero
 * @author Kyli Rouge
 * @author anonymous
 *
 * @version 2.3.0
 */

/**
 * This removes both the default margin and padding from every element except dialogs. Dialogs are allowed to keep these
 * because the Blink layout engine uses margin to position dialogs.
 *
 * @author Kyli Rouge
 * @author anonymous
 * @version 2.1.0
 *         + 2.1.0 (2014-12-31) - Kyli Rouge added Polymer reset, fixed documentation
 *         + 2.0.0 (2014-11-13) - Kyli Rouge changed the selector from * to :not(dialog)
 *         . 1.0.0 - remove margin and padding from all elements using the weak * selector
 */
:not(dialog) {
    margin: 0;
    padding: 0;
}


/**
 * Makes all browsers calculate the size of a box the same way
 *
 * @author Ben Leggiero
 * @version 1.0.0
 *         . 1.0.0 (2018-04-09) - Ben added this rule to make everything size the same across browsers
 */
* {
    box-sizing: border-box;
}

/**
 * This pushes common actions like scrolling to the GPU, so it shouldn't ever be laggy.
 *
 * @author Kyli Rouge
 * @version 1.1.0
 *         . 1.1.0 (2015-02-18) - Kyli Rouge changed :root to main since browsers count transformed objects as
 *                                being positioned
 *         . 1.0.0 (2015-02-12) - Kyli Rouge forced :root into GPU rendering
 */
main {
    transform: translate3d(0,0,0)
}

/**
 * This tells the browser to render these new HTML5 elements as blocks.
 *
 * @author Kyli Rouge
 * @author anonymous
 * @version 1.1.0
 *         + 1.1.0 (2014-11-13; 2.0.0) - Kyli Rouge added dialog to the selectors
 */
article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/**
 * This tells the browser to NOT render these elements. Currently this is solely the template element (because it
 * should never be shown) and the dialog element when it doesn't have the open attribute.
 *
 * @author Kyli Rouge
 * @author Ben Leggiero
 * @version 1.2.0
 *         - 1.2.0 (2018-03-19; 2.3.0) - Ben Leggiero removed polymer-element from selectors
 *         + 1.1.0 (2014-12-31; 2.1.0) - Kyli Rouge added polymer-element to selectors
 *         + 1.0.0 (2014-11-13; 2.0.0) - Kyli Rouge added dialog:not([open]) to the selectors, and !important to the
 *                                       display rule
 */
template,
dialog:not([open]) {
    display: none !important;
}

/**
 * This ensures that super/sub script text doesn't push around the lines above/below it.
 *
 * @author Kyli Rouge
 * @version 1.0.0
 *         + 1.0.0 (2015-08-22; 2.2.0) - Kyli Rouge added super/sub script push prevention
 */
sup,
sub {
    line-height: 0;
}
