@import '../basics/reset.css';
@import 'css-vars';
$css-vars-use-native: true;



// MARK: - Marshall Sass variables to CSS custom properties

@include css-vars((
    --theme-primary-color: $theme-primary-color
));



@import 'neon-structure';



// MARK: - Basics

html {
    background: var(--background-color-default);
    color: var(--foreground-color-default);
}

:link {
	color: var(--theme-primary-color);
}
