
// neon-air-vars
//
// Variables that the Neon Air subtheme uses

@import "neon-shared-vars-incl";

#{$applies-to-everything-selector} {
    --theme-primary-color: var(--theme-air-primary-color);
    --theme-accent-color: var(--theme-air-accent-color);
    --theme-text-on-primary-color-color: var(--theme-air-text-on-primary-color-color);
    --theme-text-on-accent-color-color: var(--theme-air-text-on-accent-color-color);
}
