
// neon-typography-renderer
//
// Renders out Neon CSS typography



// MARK: - Use

#{$applies-to-everything-selector} {
    font-family: var(--font-family-primary);
}

h1 { font: var(--font-h1); }
h2 { font: var(--font-h2); }
h3 { font: var(--font-h3); }
h4 { font: var(--font-h4); }
h5 { font: var(--font-h5); }
h6 { font: var(--font-h6); }

.app-bar h1 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    text-align: var(--text-align-title);
}


.button,
button {
    font: var(--font-button);
}

ul,
ol {
    &>li {
        margin-left: 1em;
    }
}

.emoji {
    font-size: 16px;
    line-height: 0;
}
