
// neon-earth-vars
//
// Variables that the Neon Earth subtheme uses

@import "neon-shared-vars-incl";
@import "css-vars";
$css-vars-use-native: true;



#{$applies-to-everything-selector} {
    --theme-primary-color: var(--theme-earth-primary-color);
    --theme-accent-color: var(--theme-earth-accent-color);
}
