
/**
 * Neon Tables
 * Renders a the basic table styles for Neon themes
 *
 * Requires varibles to be set with color stylesheets (like neon-fire.scss or neon-water.scss) prior to calling.
 */



table {
	border-collapse:separate;
	border-spacing:0.5em;
	margin-left:auto;
	margin-right:auto;

    &.center-td td {
        text-align: center;
        vertical-align: middle;
    }
}
table>caption {
	font-weight: 900;
	text-transform: uppercase;
	font-family: "Roboto Condensed", "Roboto Cn", "Helvetica Condensed", "Roboto", "Helvetica", condensed, sans-serif;
	margin: 1em 0 0;
}
	table,
	table td,
	table th {
		border:none;
	}
	table td:not(.plain) ,
	table th:not(.plain) {
		padding:0.5em;
	}
	table [colspan]:not(.plain) {
		border-bottom: .25em solid rgba(0,0,0,.1);
		padding-bottom: .25em;
	}
	table [rowspan]:not(.plain) {
		border-right: .25em solid rgba(0,0,0,.1);
		padding-right: .25em;
	}
	/*table tr td{
		border-color:#BBB transparent;
	}
	table thead td,
	table tfoot td{
		border-color:transparent;
	}*/
	table th:not(.plain) {
		background:rgba(127,127,127, 0.2);
		font-weight: bold;
	}
		table thead th:not(.vert):not(.plain) { /* All top-row headers */
			border-top-style: solid;
			text-align:center;
			vertical-align:bottom;
		}
		table tr th:last-child:not(.horiz):not(.plain) { /* All right-row headers */
			border-right-style: solid;
			text-align:left;
			vertical-align:middle;
		}
		table tfoot th:not(.vert):not(.plain) { /* All total-row headers */
			border-top-style: double;
			text-align:center;
			vertical-align:top;
		}
		table tr th:first-child:not(.horiz):not(.plain) { /* All left-row headers */
			border-left-style: solid;
			text-align:right;
			vertical-align:middle;
		}
		table thead th:not(.vert):not(.plain),
		table tr th:last-child:not(.horiz):not(.plain),
		table tfoot th:not(.vert):not(.plain),
		table tr th:first-child:not(.horiz):not(.plain) {
			border-width: 0.5em;
			border-color: var(--theme-primary-color);
			margin: 1em 10vw;
		}
		table th small {
			font-weight: normal;
		}

table:not(.plain)>tbody+tbody {
    box-shadow: 0 calc(-0.5em - 2px) 0 -0.5em;
}

.wide-table-holder {
    overflow-x: scroll;

    :not(.wide-table-holder-holder)>&::after {
        content: "Pro tip: scroll left and right";
        text-align: end;
        display: block;
        font-size: small;
        opacity: 0.5;
    }
}

.wide-table-holder-holder {
    position: relative;

    &::before {
        content: "";
        --shadow-color: #FFF;
        --shadow-size: 1em;
        --negative-shadow-size: -1em;

        box-shadow: inset var(--shadow-size) 0 var(--shadow-size) var(--negative-shadow-size) var(--shadow-color),
                    inset var(--shadow-size) 0 var(--shadow-size) var(--negative-shadow-size) var(--shadow-color),
                    inset var(--shadow-size) 0 var(--shadow-size) var(--negative-shadow-size) var(--shadow-color),

                    inset var(--negative-shadow-size) 0 var(--shadow-size) var(--negative-shadow-size) var(--shadow-color),
                    inset var(--negative-shadow-size) 0 var(--shadow-size) var(--negative-shadow-size) var(--shadow-color),
                    inset var(--negative-shadow-size) 0 var(--shadow-size) var(--negative-shadow-size) var(--shadow-color);
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}
