
// neon-shared-vars
//
// Variables that all Neon subthemes use

@import 'css-vars';
$css-vars-use-native: true;



$white-theme-background-color: hsl(0,0, 100%) !default;
$light-theme-background-color: hsl(0,0, 90%) !default;
$dark-theme-background-color: hsl(200, 19%, 18%) !default;
$black-theme-background-color: hsl(0,0, 0) !default;
$default-theme-background-color: var(--light-theme-background-color) !default;

$white-theme-foreground-color: hsl(0, 0%, 13%) !default;
$light-theme-foreground-color: hsl(0, 0%, 13%) !default;
$dark-theme-foreground-color: hsl(0, 0%, 93%) !default;
$black-theme-foreground-color: hsl(0, 0%, 93%) !default;
$default-theme-foreground-color: var(--light-theme-foreground-color) !default;



@include css-vars((
    --white-theme-background-color:   $white-theme-background-color,
    --light-theme-background-color:   $light-theme-background-color,
    --dark-theme-background-color:    $dark-theme-background-color,
    --black-theme-background-color:   $black-theme-background-color,
    --default-theme-background-color: $default-theme-background-color,

    --white-theme-foreground-color:   $white-theme-foreground-color,
    --light-theme-foreground-color:   $light-theme-foreground-color,
    --dark-theme-foreground-color:    $dark-theme-foreground-color,
    --black-theme-foreground-color:   $black-theme-foreground-color,
    --default-theme-foreground-color: $default-theme-foreground-color,
));
