
$background-color-light: #FFF !default;
$background-color-dark: #111618 !default;
$background-color-black: #000 !default;
$background-color-default: $background-color-light !default;

$foreground-color-when-bg-light: #212121 !default;
$foreground-color-when-bg-dark: #eee !default;
$foreground-color-when-bg-black: #eee !default;
$foreground-color-default: $foreground-color-when-bg-light !default;



@import 'css-vars';

@include css-vars((
    --background-color-light:   $background-color-light,
    --background-color-dark:    $background-color-dark,
    --background-color-black:   $background-color-black,
    --background-color-default: $background-color-default,

    --foreground-color-when-bg-light: $foreground-color-when-bg-light,
    --foreground-color-when-bg-dark:  $foreground-color-when-bg-dark,
    --foreground-color-when-bg-black: $foreground-color-when-bg-black,
    --foreground-color-default:       $foreground-color-default,
));
