
// neon-brightness
//
// Allows you to set the theme's brightness

@import 'css-vars';
@import 'neon-shared-vars';



@include css-vars((
    --theme-background-color: var(--default-theme-background-color),
    --theme-foreground-color: var(--default-theme-foreground-color),
));

[class^="brightness-"],
[class*=" brightness-"] {
    background: var(--theme-background-color);
    color: var(--theme-foreground-color);
}



.brightness-white.themed-background,
.brightness-white .themed-background {
    --theme-background-color: var(--white-theme-background-color);
    --theme-foreground-color: var(--white-theme-foreground-color);
}



.brightness-light.themed-background,
.brightness-light .themed-background {
    --theme-background-color: var(--light-theme-background-color);
    --theme-foreground-color: var(--light-theme-foreground-color);
}



.brightness-dark.themed-background,
.brightness-dark .themed-background {
    --theme-background-color: var(--dark-theme-background-color);
    --theme-foreground-color: var(--dark-theme-foreground-color);
}



.brightness-black.themed-background,
.brightness-black .themed-background {
    --theme-background-color: var(--black-theme-background-color);
    --theme-foreground-color: var(--black-theme-foreground-color);
}

.material {
    .brightness-black,
    &.brightness-black,
    .brightness-black & {
        .shadow.z1 {
            box-shadow: 0 0 0 1px #FFF4;
        }
    }
}
