---
---
// scss-lint:disable Comment
// scss-lint:disable ColorVariable
// scss-lint:disable MergeableSelector




/* Brightness Light */

:root {
    --light-theme-background-color-at-level-1: hsl(0, 0%, 98%);
    --light-theme-background-color-at-level-2: hsl(0, 0%, 93%);
    --light-theme-background-color-at-level-3: hsl(0, 0%, 86%);
}



/* Brightness Dark */

:root {
    --dark-theme-background-color-at-level-1: hsl(200, 19.1%, 18%);
    --dark-theme-background-color-at-level-2: hsl(200, 22.1%, 15%);
    --dark-theme-background-color-at-level-3: hsl(200, 25.1%, 12%);
}



/* Neon Water */

:root {
    --theme-water-primary-color: #00b0ff;
    --theme-water-accent-color: #009688;
    --theme-water-text-on-primary-color-color: #fff;
    --theme-water-text-on-accent-color-color: #000;
}

.brightness-dark,
.brightness-black {
    --theme-water-primary-color: #00b0ff;
    --theme-water-accent-color: #fbc02d;
    --theme-water-text-on-primary-color-color: #fff;
    --theme-water-text-on-accent-color-color: #000;
}



/* Neon Earth */

:root {
    --theme-earth-primary-color: #4caf50;
    --theme-earth-accent-color: #ff7043;
}



/* Neon Fire */

:root {
    --theme-fire-primary-color: #ff6e40;
    --theme-fire-accent-color: #2196f3;
    --theme-fire-text-on-primary-color-color: #fff;
    --theme-fire-text-on-accent-color-color: #000;
}


.brightness-dark,
.brightness-black {
    --theme-fire-accent-color: #00e5ff;
}



/* Neon Air */

:root {
    --theme-air-primary-color: #0d47a1;
    --theme-air-accent-color: #0091ea;
    --theme-air-text-on-primary-color-color: hsl(37, 100%, 96%);
    --theme-air-text-on-accent-color-color: hsl(205, 87%, 97%);
}


.brightness-dark,
.brightness-black {
    --theme-air-primary-color: #bbdefb;
    --theme-air-accent-color: #ffe082;
    --theme-air-text-on-primary-color-color: #263238;
    --theme-air-text-on-accent-color-color: #000;
}
