
/**
 * neon-effects
 */

 .hidden-until-parent-hover {
    &.reveal-with-slide-from-right {
        overflow: hidden;
        max-width: 0vw;
        text-overflow: clip;
        white-space: nowrap;
        transition: max-width 700ms cubic-bezier(.25,0,0,1), margin 400ms 300ms ease-out;

        *:hover>&,
        *:focus>& {
            max-width: 100vw;
            transition: max-width 700ms cubic-bezier(1,0,.75,1), margin 400ms ease-out;
        }
        @at-root
        .app-bar .image-button:not(:hover):not(:focus)>&.cta {
            margin: 0em;
        }
    }
}


.shows-child-on-hover {
    position: relative;
    outline: none;

    .shown-on-parent-hover {
        transition-property: visibility;

        .reduce-motion & {
            transition-property: visibility !important;
        }
    }

    &:not(:hover):not(:focus) {
        .shown-on-parent-hover {
            visibility: hidden;
            transition-delay: 1s;
        }
    }
}
