
// neon-animation-renderer
//
// Renders out Neon CSS animations

@import 'css-vars';
@import 'material-structure-vars';


// MARK: - Marshall SCSS vars to CSS vars

@include css-vars((
    --animation-duration-default: $animation-duration-default,
));

* {
    transition-duration: var(--animation-duration-default);
    transition-timing-function: ease-in-out;
    transition-property: none;
}


html {
    transition-property: background, color;
    will-change: background, color;
}



.app-bar {
    transition-property: background-color, color, height, padding, margin;

    * {
        transition-property: background-color, color, height, padding, margin;
    }

    h1 {
        transition-property: color, line-height;
    }
}



#{$button-selector} {
    transition-property: background, color, transform, box-shadow;
    will-change: background, color, transform, box-shadow;
}
