
// neon-animation-renderer
//
// Renders out Neon CSS animations

@import 'css-vars';
@import 'material-structure-vars';


// MARK: - Marshall SCSS vars to CSS vars

#{$apply-css-vars-everywhere-selector} {
    --animation-duration-default: $animation-duration-default;
}

*,
*::before,
*::after {
    transition-duration: var(--animation-duration-default);
    transition-timing-function: ease-in-out;
    transition-property: none;
}


html {
    transition-property: background, color;
    will-change: background, color;
}



.reduce-motion {
    &,
    & *,
    & *::before,
    & *::after {
        transition-property: none !important; // scss-lint:disable ImportantRule
        animation-name: none !important;      // scss-lint:disable ImportantRule
    }
}



:link,
:visited {
    transition-property: color;
}



.app-bar {
    transition-property: background-color, color, height, padding, margin;

    * {
        transition-property: background-color, color, height, padding, margin;
    }

    h1 {
        transition-property: color, line-height;
    }
}



#{$button-selector} {
    transition-property: background, color, transform, box-shadow;
    will-change: background, color, transform, box-shadow;
}
