
/**
 * neon-decorations
 */

@import "css-vars";
$css-vars-use-native: true;



#{$applies-to-everything-selector} {
    --kbd-background: var(--theme-background-color-at-level-raised);

    --kbd-highlight-box-shadow: inset 0.1ex 0.2ex hsla(0, 0%, 100%, 0.10);
    --kbd-shade-box-shadow: inset -0.1ex -0.2ex hsla(0, 0%, 0%, 0.10);
    --kbd-external-shadow: var(--box-shadow-z1);
}



kbd {
    padding: 0.5ex 1ex;
    border-radius: 0.5ex;
    background: var(--kbd-background);
    box-shadow: var(--kbd-highlight-box-shadow), var(--kbd-shade-box-shadow), var(--kbd-external-shadow);
    font-family: inherit;
    font-size: 80%;
}



cite,
.help {
    &[title]:not([title=""]):not(.plain) {
        cursor: help;
        text-decoration: dotted underline;
    }
}



cite {
    blockquote>& {
        display: block;
        margin-block-start: 1em;
        text-align: end;

        &::before {
            content: " — ";
        }
    }
}
