
// NOTE: This file does NOT set the actual values. For that, you must first import a stylesheet that does, like 'material-structure-vars'

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'material-shadows-vars';
@import 'material-structure-vars';
@import 'css-vars';



@include css-vars((
    --app-bar-height-phone-portrait:     $app-bar-height-phone-portrait,
    --app-bar-height-phone-landscape:    $app-bar-height-phone-landscape,
    --app-bar-height-tablet-and-desktop: $app-bar-height-tablet-and-desktop,
    --prominent-app-bar-total-height:    $prominent-app-bar-total-height,
    --app-bar-prominence-height-phone-portrait:           $app-bar-prominence-height-phone-portrait,
    --app-bar-prominence-height-phone-landscape:          $app-bar-prominence-height-phone-landscape,
    --app-bar-prominence-height-phone-tablet-and-desktop: $app-bar-prominence-height-phone-tablet-and-desktop,

    --button-cursor: $button-cursor,
));



.app-bar,
.app-bar.short {
    height: var(--app-bar-height-short);

    @media (min-width: $size-class-phone-tablet-breakpoint) {
        height: var(--app-bar-height-medium);
    }
    @media (min-width: $size-class-tablet-desktop-breakpoint) {
        height: var(--app-bar-height-tall);
    }
}



.button,
button {
    background-color: $theme-primary-color;

    border: none;
    border-radius: 2px;

    cursor: var(--button-cursor);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font: $font-button;
    text-transform: $text-transform-button;

    padding: 11px 16px;
    margin: 8px;

    height: 36px;
    min-width: 64px;

    &.flat,
    .app-bar &:not(.raised) {
        background: none;
        color: $theme-primary-color;

        padding: 11px 8px;
        margin: 8px;

        min-width: 88px;
    }

    &.dense {
        font-size: $font-size-dense-button;

        padding: 9.5px 8px;

        height: 32px;
    }
}



.shadow-z1 { @include shadow-z1(); }
.shadow-z2 { @include shadow-z2(); }
.shadow-z3 { @include shadow-z3(); }
.shadow-z4 { @include shadow-z4(); }
.shadow-z6 { @include shadow-z6(); }
.shadow-z8 { @include shadow-z8(); }
.shadow-z9 { @include shadow-z9(); }
.shadow-z12 { @include shadow-z12(); }
.shadow-z16 { @include shadow-z16(); }
.shadow-z24 { @include shadow-z24(); }
