
// material-structure-vars
//
// Variables defining the structure of a page that uses Material design


@import 'material-shadows-vars';


// MARK: - Breakpoints

// Based on https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints

$layout-4-column-min-width:  0px !default;
$layout-4-column-max-width:  480px !default;
$layout-8-column-min-width:  480px !default;
$layout-8-column-max-width:  840px !default;
$layout-12-column-min-width: $layout-8-column-max-width !default;
$layout-12-column-max-width: null !default;

$desktop-xsmall-min-width: 0px !default;
$desktop-xsmall-max-width: 600px !default;
$desktop-small-min-width:  $desktop-xsmall-max-width !default;
$desktop-small-max-width:  960px !default;
$desktop-medium-min-width: $desktop-small-max-width !default;
$desktop-medium-max-width: 1280px !default; // TODO: - 16px?
$desktop-large-min-width:  $desktop-medium-max-width !default;
$desktop-large-max-width:  1920px !default;
$desktop-xlarge-min-width: $desktop-large-max-width !default;
$desktop-xlarge-max-width: null !default;


$phone-portrait-small-min-width: 0px !default;
$phone-portrait-small-max-width: 360px !default;
$phone-portrait-medium-min-width: $phone-portrait-small-max-width !default;
$phone-portrait-medium-max-width: 400px !default;
$phone-portrait-large-min-width: $phone-portrait-medium-max-width !default;
$phone-portrait-large-max-width: 600px !default;

$phone-portrait-min-width: $phone-portrait-small-min-width !default;
$phone-portrait-max-width: $phone-portrait-large-max-width !default;


$phone-landscape-small-min-width: 480px !default;
$phone-landscape-small-max-width: 600px !default;
$phone-landscape-medium-min-width: $phone-landscape-small-max-width !default;
$phone-landscape-medium-max-width: 720px !default;
$phone-landscape-large-min-width: $phone-landscape-medium-max-width !default;
$phone-landscape-large-max-width: 960px !default;

$phone-landscape-min-width: $phone-landscape-small-min-width !default;
$phone-landscape-max-width: $phone-landscape-large-max-width !default;


$tablet-portrait-small-min-width: 600px !default;
$tablet-portrait-small-max-width: 720px !default;
$tablet-portrait-medium-min-width: $tablet-portrait-small-max-width !default;
$tablet-portrait-medium-max-width: $tablet-portrait-medium-min-width !default;
$tablet-portrait-large-min-width: $tablet-portrait-medium-max-width !default;
$tablet-portrait-large-max-width: 840px !default;

$tablet-portrait-min-width: $tablet-portrait-small-min-width !default;
$tablet-portrait-max-width: $tablet-portrait-large-max-width !default;


$tablet-landscape-small-min-width: 960px !default;
$tablet-landscape-small-max-width: 1024px !default;
$tablet-landscape-medium-min-width: $tablet-landscape-small-max-width !default;
$tablet-landscape-medium-max-width: $tablet-landscape-medium-min-width !default;
$tablet-landscape-large-min-width: $tablet-landscape-medium-max-width !default;
$tablet-landscape-large-max-width: 1280px !default;

$tablet-landscape-min-width: $tablet-landscape-small-min-width !default;
$tablet-landscape-max-width: $tablet-landscape-large-max-width !default;


$min-width-for-both-summary-and-detail-content: 600px !default;
$max-width-for-normal-content: 1600px !default;


$size-class-phone-tablet-breakpoint: $phone-portrait-max-width !default;
$size-class-tablet-desktop-breakpoint: $tablet-landscape-max-width !default;


// MARK: - Structure vars

// MARK: App Bar

$app-bar-height-phone-portrait:     48px !default;
$app-bar-height-phone-landscape:    56px !default;
$app-bar-height-tablet-and-desktop: 64px !default;
$prominent-app-bar-total-height:   128px !default;
$app-bar-prominence-height-phone-portrait:           $prominent-app-bar-total-height - $app-bar-height-phone-portrait !default;
$app-bar-prominence-height-phone-landscape:          $prominent-app-bar-total-height - $app-bar-height-phone-landscape !default;
$app-bar-prominence-height-phone-tablet-and-desktop: $prominent-app-bar-total-height - $app-bar-height-tablet-and-desktop !default;

$app-bar-padding-top: 0px !default;
$app-bar-padding-right: 0px !default;
$app-bar-padding-bottom: 0px !default;
$app-bar-padding-left: 0px !default;
$app-bar-vertical-padding: $app-bar-padding-top + $app-bar-padding-bottom !default;
$app-bar-horizontal-padding: $app-bar-padding-left + $app-bar-padding-right !default;
$app-bar-padding: $app-bar-padding-top $app-bar-padding-right $app-bar-padding-bottom $app-bar-padding-left !default;

$app-bar-z-index: 4 !default;



@include css-vars((
    --app-bar-height-phone-portrait:     $app-bar-height-phone-portrait,
    --app-bar-height-phone-landscape:    $app-bar-height-phone-landscape,
    --app-bar-height-tablet-and-desktop: $app-bar-height-tablet-and-desktop,
    --prominent-app-bar-total-height:    $prominent-app-bar-total-height,
    --app-bar-prominence-height-phone-portrait:           $app-bar-prominence-height-phone-portrait,
    --app-bar-prominence-height-phone-landscape:          $app-bar-prominence-height-phone-landscape,
    --app-bar-prominence-height-phone-tablet-and-desktop: $app-bar-prominence-height-phone-tablet-and-desktop,

    --app-bar-padding-top:        $app-bar-padding-top,
    --app-bar-padding-right:      $app-bar-padding-right,
    --app-bar-padding-bottom:     $app-bar-padding-bottom,
    --app-bar-padding-left:       $app-bar-padding-left,
    --app-bar-vertical-padding:   $app-bar-vertical-padding,
    --app-bar-horizontal-padding: $app-bar-horizontal-padding,
    --app-bar-padding:            $app-bar-padding,

    --app-bar-z-index: $app-bar-z-index,
));


// MARK: Buttons

$button-cursor: pointer !default;
$button-border-radius: 2px !default;
$button-padding: 11px 16px !default;
$button-dense-padding: 9.5px 8px !default;
$button-margin: 8px !default;
$button-min-width: 64px !default;

$button-flat-padding: 11px 8px !default;
$button-flat-margin: 8px !default;
$button-flat-min-width: 88px !default;

$button-app-bar-padding: $button-flat-padding !default;
$button-app-bar-margin: 0 !default;
$button-app-bar-min-width: $button-flat-min-width !default;

$button-image-padding: 0 !default;
$button-image-margin: $button-margin !default;
$button-image-min-width: 36px !default;

$button-app-bar-image-padding: $button-app-bar-padding !default;
$button-app-bar-image-margin: $button-app-bar-margin !default;
$button-app-bar-image-min-width: $button-image-min-width !default;

$button-resting-shadow: shadow(2) !default;
$button-hover-shadow: shadow(8) !default;
$button-pressed-shadow: shadow(0) !default;


$fab-diameter: 56px !default;


$ripple-end-diameter: 96px !default;
$ripple-end-radius: $ripple-end-diameter / 2;
$ripple-grow-duration: 200ms !default;
$ripple-fade-duration: 700ms !default;
$ripple-fade-size-multiplier: 1.5 !default;
$ripple-midpoint-opacity: 0.3 !default;


$common-button-selector: 'button, .button, input[type=submit], input[type=reset]';
$uncommon-button-selector: '.image-button, .fab, .fab-mini';
$button-selector: $common-button-selector + ', ' + $uncommon-button-selector;


@include css-vars((
    --button-cursor: $button-cursor,
    --button-border-radius: $button-border-radius,
    --button-padding: $button-padding,
    --button-dense-padding: $button-dense-padding,
    --button-margin: $button-margin,

    --button-flat-padding: $button-flat-padding,
    --button-flat-margin: $button-flat-margin,
    --button-flat-min-width: $button-flat-min-width,

    --button-app-bar-padding: $button-app-bar-padding,
    --button-app-bar-margin: $button-app-bar-margin,
    --button-app-bar-min-width: $button-app-bar-min-width,

    --button-image-padding: $button-image-padding,
    --button-image-margin: $button-image-margin,
    --button-image-min-width: $button-image-min-width,

    --button-app-bar-image-padding: $button-app-bar-image-padding,
    --button-app-bar-image-margin: $button-app-bar-image-margin,
    --button-app-bar-image-min-width: $button-app-bar-image-min-width,

    --button-resting-shadow: $button-resting-shadow,
    --button-hover-shadow: $button-hover-shadow,
    --button-pressed-shadow: $button-pressed-shadow,


    --fab-diameter: $fab-diameter,


    --ripple-end-diameter: $ripple-end-diameter,
    --ripple-end-radius: $ripple-end-radius,
    --ripple-grow-duration: $ripple-grow-duration,
    --ripple-fade-duration: $ripple-fade-duration,
    --ripple-fade-size-multiplier: $ripple-fade-size-multiplier,
    --ripple-midpoint-opacity: $ripple-midpoint-opacity,
))
