
// material-cards
//
// Renders Material cards
// See also: https://material.io/design/components/cards.html


@import "css-vars";
@import "material-shadows-vars";



:root {
    --card-shadow-default: var(--box-shadow-z1);
    --card-shadow-raised: var(--box-shadow-z8);

    @media (min-width: $phone-portrait-large-max-width) {
        --card-shadow-default: var(--box-shadow-z0);
    }
}


@mixin _card-base($shadow: var(--card-shadow-default), $shadow-raised: var(--card-shadow-raised)) {
    margin: 1ex;
    padding: 1ex;
    border-radius: 1ex;
    background-color: var(--theme-background-color-at-level-raised);
    box-shadow: $shadow;

    transition-property: box-shadow, background;


    &.raised {
        box-shadow: $shadow-raised;
    }
}


.card {
    @include _card-base();
}
