
// material-sidebar-renderer
//
// Renders Material navigation drawers



@import "material-sidebar-vars";
@import "material-structure-vars";
@import "css-vars";



.sidebar {

    position: fixed;
    z-index: var(--sidebar-z-index);

    top: var(--app-bar-height-auto);
    left: calc(-46px - var(--sidebar-default-width));
    width: var(--sidebar-default-width);
    max-width: var(--sidebar-max-width);
    height: 100vh;
    height: calc(100vh - var(--app-bar-height-auto));

    overflow: auto;

    transition-property: background, background-color, width, top, left;
    will-change: width, top, left;
    transition-timing-function: cubic-bezier(0.75, 0, 0.95, 1);

    background-color: var(--sidebar-background-color);
    box-shadow: shadow($sidebar-z-index);

    clip-path: inset(0);


    section {
        transition-property: background, background-color;

        border-width: 1px;
        border-style: none none solid;
        border-color: #607D8B80;

        background-color: var(--sidebar-background-color);


        &:first-child {
            border-block-start-style: none;
        }

        &:nth-last-child(2) {
            border-block-end-style: none;
        }

        &:last-child {
            position: sticky;
            bottom: 0;

            border-block-start-style: solid;
            border-block-end-style: none;
        }
    }


    img {
        max-width: 100%;
        max-height: 100%;
    }



    ul,
    ol,
    .link-list {
        list-style-type: none;

        li {
            margin: 0;
        }
    }
}



.sidebar-scrim {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;

    transition-property: background;
    transition-delay: 0s, 3s;

    background: var(--sidebar-scrim-background-hidden-color);

    pointer-events: none;
    user-select: none;
}



#{$sidebar-parent-sidebar-shown-selector} {
    // scss-lint:disable UnnecessaryParentReference
    @at-root
    & .sidebar,
    .sidebar:target {
        left: 0;
        transition-timing-function: cubic-bezier(0.06, 0, 0.25, 1);
    }
    // scss-lint:enable UnnecessaryParentReference

    .sidebar-scrim {
        background: var(--sidebar-scrim-background-color);
        pointer-events: auto;
   }
}
