
// material-cards
//
// Renders Material cards
// See also: https://material.io/design/components/cards.html


@import "css-vars";
@import "material-shadows-vars";



:root {
    --card-margin-block-start: 1ex;
    --card-margin-block-end: 1ex;
    --card-margin-inline-start: 1ex;
    --card-margin-inline-end: 1ex;
    --card-margin: var(--card-margin-block-start)
                   var(--card-margin-inline-end)
                   var(--card-margin-block-end)
                   var(--card-margin-inline-start);

    --card-padding-block-start: 1ex;
    --card-padding-block-end: 1ex;
    --card-padding-inline-start: 1ex;
    --card-padding-inline-end: 1ex;
    --card-padding: var(--card-padding-block-start)
                    var(--card-padding-inline-end)
                    var(--card-padding-block-end)
                    var(--card-padding-inline-start);

    --card-border-radius: 1ex;

    --card-border-color: #7770;

    --card-background: var(--theme-background-color-at-level-raised);

    --card-shadow-default: var(--box-shadow-z1);
    --card-shadow-raised: var(--box-shadow-z8);

    @media (min-width: $phone-portrait-large-max-width) {
        --card-shadow-default: var(--box-shadow-z0);
        --card-border-color: #7774;
    }
}


@mixin _card-base($shadow: var(--card-shadow-default), $shadow-raised: var(--card-shadow-raised)) {
    margin: var(--card-margin);
    padding: var(--card-padding);
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    background: var(--card-background);
    box-shadow: $shadow;

    transition-property: box-shadow, background, border-color;


    &.raised {
        box-shadow: $shadow-raised;
        --card-border-color: #7770;
    }

    >footer:last-child {
        margin-block-end: 0;

        #{$button-selector} {
            margin-block-end: 0;
        }
    }
}


.card {
    @include _card-base();
}
