
// material-sidebar-renderer
//
// Renders Material navigation drawers



@import "material-sidebar-vars";
@import "material-structure-vars";
@import "css-vars";



.sidebar {

    position: fixed;
    z-index: var(--sidebar-z-index);

    top: var(--app-bar-height-auto);
    left: calc(-46px - var(--sidebar-default-width));
    width: var(--sidebar-default-width);
    max-width: var(--sidebar-max-width);
    height: 100vh;
    height: calc(100vh - var(--app-bar-height-auto));

    transition-property: background, width, top, left;
    will-change: width, top, left;
    transition-timing-function: cubic-bezier(0.75, 0, 0.95, 1);

    background: var(--theme-background-color-at-level-raised);
    box-shadow: shadow($sidebar-z-index);

    // &::before {
    //     content: "";
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: rgba(0,0,0,0.0);
    //     pointer-events: none;
    //     position: fixed;
    //     z-index: 15;
    //     top: 0;
    //     left: 0;
    //
    //     transition-property: background-color;
    //     will-change: background-color;
    // }
    //
    // .sidebar-shown &::before {
    //     background-color: rgba(0,0,0,0.3);
    // }

    // @at-root
    // body>:not(.sidebar):not(.app-bar) {
    //     transition-property: filter;
    //     will-change: filter, pointer-events;
    //     filter: blur(0px) brightness(100%);
    // }
    // @at-root
    // .sidebar-shown body,
    // body.sidebar-shown {
    //     &>:not(.sidebar):not(.app-bar) {
    //         filter: blur(5px) brightness(50%);
    //         pointer-events: none;
    //     }
    // }

    section {
        border-width: 1px;
        border-style: solid none;
        border-color: #607D8B80;


        &:first-child {
            border-block-start-style: none;
        }

        &:last-child {
            border-block-end-style: none;
        }
    }
}



.sidebar-scrim {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;

    transition-property: background;
    transition-delay: 0s, 3s;

    background: var(--sidebar-scrim-background-hidden-color);

    pointer-events: none;
    user-select: none;
}



#{$sidebar-parent-sidebar-shown-selector} {
    @at-root
    & .sidebar,
    .sidebar:target {
        left: 0;
        transition-timing-function: cubic-bezier(0.06, 0, 0.25, 1);
    }

    .sidebar-scrim {
        background: var(--sidebar-scrim-background-color);
        pointer-events: auto;
   }
}
