
// NOTE: This file does NOT set the actual values. For that, you must first import a stylesheet that does, like 'material-structure-vars'

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "material-shadows-vars";
@import "material-structure-vars";
@import "flex-incl";
@import "css-vars";



.app-bar,
.app-bar.short {

    @include flex-row();
    @include flex-justify-space-between();
    @include flex-align-stretch();

    z-index: var(--app-bar-z-index);

    height: var(--app-bar-height-auto);

    box-shadow: shadow(4);

    * {
        flex-shrink: 1;
    }

    h1 {
        flex-grow: 2;

        margin: 0;

        transition-property: padding, line-height, font-size;

        // line-height: $app-bar-height-phone-portrait - $app-bar-vertical-padding;
        line-height: calc(var(--app-bar-height-auto) - var(--app-bar-vertical-padding));

        &:first-child {
            padding: 0 var(--content-margin-horiz-auto);
        }
    }
}



// MARK: - Buttons

@import "material-buttons";



// MARK: - Cards

@import "material-cards";



// MARK: - Shadows

@import "/assets/v2/material/material-shadows.css";



// MARK: - Sidebar

@import "material-sidebar-renderer";



// MARK: - Chips

@import "material-chips";
