
// material-sidebar-renderer
//
// Renders Material navigation drawers



@import "material-sidebar-vars";
@import "material-structure-vars";
@import "css-vars";



.sidebar {

    position: fixed;
    z-index: var(--sidebar-z-index);

    top: var(--app-bar-height-auto);
    bottom: 0;
    left: calc(-46px - var(--sidebar-default-width));
    width: var(--sidebar-default-width);
    max-width: var(--sidebar-max-width);
    max-height: 100%;
    max-height: calc(100vh - var(--app-bar-height-auto));

    overflow: auto;

    transition-property: background, background-color, width, top, left, padding, min-height, z-index;
    will-change: width, top, left;
    transition-timing-function: cubic-bezier(0.75, 0, 0.95, 1);

    background-color: var(--sidebar-background-color);
    box-shadow: var(--box-shadow-z#{$sidebar-z-index});

    clip-path: inset(0 -1in);


    section {
        transition-property: background, background-color;
        transition-timing-function: inherit;

        border-width: 1px;
        border-style: none none solid;
        border-color: #607D8B80;

        background-color: var(--sidebar-background-color);


        &:first-child {
            border-block-start-style: none;
        }

        &:nth-last-child(2) {
            border-block-end-style: none;
        }

        &:last-child {
            border-block-start-style: solid;
            border-block-end-style: none;
        }
    }

    >section:last-child {
        position: sticky;
        bottom: 0;
    }


    img {
        max-width: 100%;
        max-height: 100%;
    }



    ul,
    ol,
    .link-list {
        list-style-type: none;

        li {
            margin: 0;
        }
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: var(--sidebar-subtitle-margin-each-side);
        padding: var(--sidebar-subtitle-padding-each-side);
        font-size: var(--sidebar-subtitle-font-size);
        font-weight: var(--sidebar-subtitle-font-weight);
    }


    header img.avatar {
        display: block;
        max-height: 4cm;
        margin: 1em auto;
        border: 1px solid var(--sidebar-avatar-outline-color);
        border-radius: 99in;
    }


    @at-root
    .full-height-sidebar {
        --app-bar-z-index: calc(var(--sidebar-z-index) + 1);

        .sidebar {
            top: 0;
            padding-top: var(--app-bar-height-auto);
            max-height: 100vh;

            @at-root
            #{$sidebar-parent-sidebar-shown-selector} {
                &.full-height-sidebar .app-bar * {
                    --button-text-color: var(--theme-foreground-color) !important;
                }
            }
        }
    }
}



.sidebar-scrim {
    position: fixed;
    z-index: var(--sidebar-z-index);
    width: 100vw;
    height: 100vh;

    transition-property: background;

    background: var(--sidebar-scrim-background-hidden-color);

    pointer-events: none;
    user-select: none;
}



#{$sidebar-parent-sidebar-shown-selector} {
    // scss-lint:disable UnnecessaryParentReference
    @at-root
    & .sidebar,
    .sidebar:target {
        left: 0;
        transition-timing-function: cubic-bezier(0.06, 0, 0.25, 1);
    }
    // scss-lint:enable UnnecessaryParentReference

    .sidebar-scrim {
        background: var(--sidebar-scrim-background-color);
        pointer-events: auto;
   }
}
