
@import "material-buttons-vars";


.sidebar {
    ul,
    ol,
    .link-list {
        #{$common-button-selector} {
            &:not(.medium-emphasis):not(.low-emphasis) {
                --button-background: transparent;
                --button-border-color: transparent;
                --button-text-color: var(--theme-primary-color);

                --button-resting-shadow: none;
                --button-hover-shadow: none;
                --button-pressed-shadow: none;

                // scss-lint:disable ImportantRule
                display: block !important;
                // scss-lint:enable ImportantRule

                min-width: var(--button-flat-min-width);

                margin: var(--button-flat-margin);
                padding: var(--button-flat-padding);

                transform: none;

                text-align: left;
                text-align: unset;
                text-align: start;
                text-transform: none;
            }
        }
    }
}
