
// material-app-bar
//
// Renders the Material app bar
// See also: https://material.io/design/components/app-bar.html



.app-bar,
.app-bar.short {

    @include flex-row();
    @include flex-justify-space-between();
    @include flex-align-stretch();

    z-index: var(--app-bar-z-index);

    height: var(--app-bar-height-auto);

    background-color: var(--theme-background-color);
    box-shadow: shadow(4);

    * {
        flex-shrink: 1;
    }

    h1 {
        flex-grow: 2;

        margin: 0;

        transition-property: padding, line-height, font-size;

        // line-height: $app-bar-height-phone-portrait - $app-bar-vertical-padding;
        line-height: calc(var(--app-bar-height-auto) - var(--app-bar-vertical-padding));

        &:first-child {
            padding: 0 var(--content-margin-horiz-auto);
        }
    }
}
