
// material-sidebar-vars
//
// Variables for Material navigation drawers



@import "prebuilt-selectors";



$sidebar-scrim-background-color: hsla(0, 0, 0, 0.32) !default;
$sidebar-scrim-background-hidden-color: hsla(0, 0, 0, 0) !default;
$sidebar-background-color: var(--theme-background-color-at-level-raised) !default;

$sidebar-subtitle-padding-each-side: 0 !default;
$sidebar-subtitle-margin-each-side: 2ex !default;
$sidebar-subtitle-font-size: 14px !default;
$sidebar-subtitle-font-weight: normal !default;

$sidebar-avatar-outline-color: hsla(0, 0%, 50%, 0.5) !default;

#{$apply-css-vars-everywhere-selector} {
    --sidebar-scrim-background-color: $sidebar-scrim-background-color;
    --sidebar-scrim-background-hidden-color: $sidebar-scrim-background-hidden-color;
    --sidebar-background-color: $sidebar-background-color;

    --sidebar-subtitle-padding-each-side: $sidebar-subtitle-padding-each-side;
    --sidebar-subtitle-margin-each-side: $sidebar-subtitle-margin-each-side;
    --sidebar-subtitle-font-size: $sidebar-subtitle-font-size;
    --sidebar-subtitle-font-weight: $sidebar-subtitle-font-weight;

    --sidebar-avatar-outline-color: $sidebar-avatar-outline-color;
}


$sidebar-parent-sidebar-shown-selector: ".sidebar-shown, [data-sidebar=shown]" !default;
