
// material-app-bar
//
// Renders the Material app bar
// See also: https://material.io/components/app-bars-top



.app-bar,
.app-bar.short {

    @include flex-row();
    @include flex-justify-space-between();
    @include flex-align-stretch();

    z-index: var(--app-bar-z-index);

    height: var(--app-bar-height-auto);

    box-shadow: shadow(4);

    background-color: var(--theme-primary-color, var(--theme-background-color));

    &,
    * {
        // scss-lint:disable ImportantRule
        color: var(--theme-text-on-primary-color-color) !important;
        // scss-lint:enable ImportantRule
    }

    * {
        flex-shrink: 1;
    }

    .image-button .cta {
        &:first-of-type {
            margin-right: 1.5em;
        }
    }

    h1 {
        flex-grow: 2;

        margin: 0;

        transition-property: padding, line-height, font-size;

        // line-height: $app-bar-height-phone-portrait - $app-bar-vertical-padding;
        line-height: calc(var(--app-bar-height-auto) - var(--app-bar-vertical-padding));

        &:first-child {
            padding: 0;// var(--content-margin-horiz-auto);
            line-height: 1;
        }
    }

    .title {
        .material-icons:first-child,
        .back-to-root-icon {
            width: 1em;
            margin-right: 1ex;
            margin-inline-end: 1ex;
            transition-property: margin, width, opacity;
            vertical-align: middle;

            .top-level & {
                width: 0;
                margin-right: 0;
                margin-inline-end: 0;
                opacity: 0;
                pointer-events: none;
            }
        }

        .title-text {
            display: inline-block;
            text-align: center;
        }
        .subtitle-text {
            opacity: 0.75;
            text-transform: none;

            &::before {
                content: " / ";
                opacity: 0.5;
            }
        }
    }
}
