


@import "material-buttons";
@import "icons-import";



#{$button-selector} {
    #{$icon-selector} {

        margin: 0 1ex;
        text-align: center;
        line-height: 1.5ex;

        &:first-child {
            margin-inline-start: 0;
        }

        &:last-child {
            margin-inline-end: 0;
        }
    }
}
