
// NOTE: This file does NOT set the actual values. For that, you must first import a stylesheet that does, like 'material-structure-vars'

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "material-shadows-vars";
@import "material-structure-vars";
@import "flex-incl";
@import "css-vars";



.app-bar,
.app-bar.short {

    @include flex-row();
    @include flex-justify-space-between();
    @include flex-align-stretch();

    z-index: var(--app-bar-z-index);

    height: var(--app-bar-height-auto);

    box-shadow: shadow(4);

    * {
        flex-shrink: 1;
    }

    h1 {
        flex-grow: 2;

        margin: 0;

        transition-property: padding, line-height;

        // line-height: $app-bar-height-phone-portrait - $app-bar-vertical-padding;
        line-height: calc(var(--app-bar-height-auto) - var(--app-bar-vertical-padding));

        &:first-child {
            padding: 0 var(--content-margin-horiz-auto);
        }
    }
}



// MARK: - Buttons

$button-base-transition-property: transform, box-shadow, color, background, border, opacity;

@mixin _button-base() {

    border: none;
    border-radius: var(--button-border-radius);

    box-shadow: var(--button-resting-shadow);

    cursor: var(--button-cursor);

    @include flex-row($inline: true, $init-children: false);
    @include flex-justify-center();
    @include flex-align-center();
    // align-items: center;
    // flex-direction: row;
    // justify-items: center;
    // justify-content: center;
    // align-content: center;


    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    text-align: center;
    text-transform: $text-transform-button;
    text-decoration: $text-decoration-button;

    position: relative;
    overflow: hidden;


    transition-property: $button-base-transition-property;

    &:not([disabled]) {
        &:focus,
        &:hover {
            transform: translateY(-1px);
            transition-duration: 100ms;

            outline: none;
            box-shadow: var(--button-hover-shadow);
        }

        &:active {
            transform: translateY(0);
            transition-duration: 10ms;

            box-shadow: var(--button-pressed-shadow);
        }
    }
}



#{$common-button-selector},
#{$image-button-selector} {
    @at-root
    &,
    .app-bar & {
        @include _button-base();
    }
}

#{$button-selector} {

    min-width: var(--button-min-width);

    margin: var(--button-margin);
    padding: var(--button-padding);

    color: var(--theme-text-on-primary-color-color);

    &:not(.medium-emphasis):not(.low-emphasis) {
        background-color: var(--theme-primary-color);
    }

    &.medium-emphasis {
        border: 1px solid var(--theme-primary-color);
        color: var(--theme-primary-color);
    }

    &.low-emphasis,
    &.flat {

        min-width: var(--button-flat-min-width);

        margin: var(--button-flat-margin);
        padding: var(--button-flat-padding);

        background: none;
        color: var(--theme-primary-color);
    }

    .app-bar &:not(.raised) {

        min-width: var(--button-app-bar-min-width);

        margin: var(--button-app-bar-margin);
        padding: var(--button-app-bar-padding);

        // scss-lint:disable ImportantRule
        transform: none !important;
        // scss-lint:enable ImportantRule

        background: none;
        color: var(--theme-primary-color);
    }

    &.low-emphasis,
    &.flat,
    .app-bar &:not(.raised) {
        --button-resting-shadow: none;
        --button-hover-shadow: none;
        --button-pressed-shadow: none;
    }


    &.dense {
        // height: 32px;

        padding: var(--button-dense-padding);
        font-size: var(--font-size-dense-button);
    }

    &.big {
        padding: var(--button-large-padding);
        font-size: var(--font-size-large-button);
    }

    &[disabled] {
        opacity: 0.5;
        cursor: default;
    }
}

#{$button-selector} {

    @at-root
    .image-button,
    &.image-button {

        min-width: var(--button-image-min-width);
        margin: var(--button-image-margin);
        padding: var(--button-image-padding);

        .app-bar & {
            min-width: var(--app-bar-height-auto);
            margin: var(--button-app-bar-image-margin);
            padding: var(--button-app-bar-image-padding);

            transition-property: $button-base-transition-property min-width;
        }

        // @include flex-row();
        // @include flex-align-stretch();
        // @include flex-justify-stretch();
    }
}

#{$floating-action-button-selector} {

    position: absolute;

    right: 1em;
    bottom: 1em;
    width: var(--fab-diameter);
    height: var(--fab-diameter);
    padding: 0;

    border-radius: 99in;

    box-shadow: shadow(6);

    text-align: center;

    body &,
    main &,
    &-global {
        position: fixed;
    }

    &:focus,
    &:hover {
        box-shadow: shadow(12);
    }

    &:active {
        box-shadow: var(--button-resting-shadow);
    }

    @at-root
    .mini-floating-action-button {
        width: 40px;
        height: 40px;
    }
}


// MARK: Ripples

#{$button-selector},
.has-effect-when-pressed {

    position: relative;

    &:not([disabled]) {
        &::before {
            content: "";
            display: block;

            position: absolute;
            top: 50%;
            left: 50%;

            width: 0;
            height: 0;

            transition-property: width, height, top, left, opacity;
            transition-duration: 0ms;
            transition-timing-function: ease-out;

            border-radius: 99in;

            opacity: 0.5;
            background-color: currentColor;
        }


        &:active::before {
            top: calc(50% - var(--ripple-end-radius));
            left: calc(50% - var(--ripple-end-radius));
            width: var(--ripple-end-diameter);
            height: var(--ripple-end-diameter);

            transition-duration: var(--ripple-grow-duration);

            opacity: var(--ripple-midpoint-opacity);
        }

        &:focus:not(:active)::before {
            top: calc(50% - (var(--ripple-end-radius) * var(--ripple-fade-size-multiplier)));
            left: calc(50% - (var(--ripple-end-radius) * var(--ripple-fade-size-multiplier)));
            width: calc(var(--ripple-end-diameter) * var(--ripple-fade-size-multiplier));
            height: calc(var(--ripple-end-diameter) * var(--ripple-fade-size-multiplier));

            transition-duration: var(--ripple-fade-duration);

            opacity: 0;
        }


        &.big:active::before,
        &.big-ripple:active::before {
            top: calc(50% - (var(--ripple-end-radius) * 2));
            left: calc(50% - (var(--ripple-end-radius) * 2));
            width: calc(var(--ripple-end-diameter) * 2);
            height: calc(var(--ripple-end-diameter) * 2);
        }

        &.big:focus:not(:active)::before,
        &.big-ripple:focus:not(:active)::before {
            top: calc(50% - (var(--ripple-end-radius) * var(--ripple-fade-size-multiplier) * 2));
            left: calc(50% - (var(--ripple-end-radius) * var(--ripple-fade-size-multiplier) * 2));
            width: calc(var(--ripple-end-diameter) * var(--ripple-fade-size-multiplier) * 2);
            height: calc(var(--ripple-end-diameter) * var(--ripple-fade-size-multiplier) * 2);
        }
    }
}



// MARK: - Shadows

@import "/assets/v2/material/material-shadows.css";



// MARK: - Sidebar

.sidebar {

    position: fixed;
    z-index: 16;

    top: var(--app-bar-height-auto);
    left: calc(0px - var(--sidebar-default-width));
    width: var(--sidebar-default-width);
    max-width: var(--sidebar-max-width);
    height: 100vh;
    height: calc(100vh - var(--app-bar-height-auto));

    transition-property: background, width, top, left;
    will-change: width, top, left;
    transition-timing-function: cubic-bezier(0.75, 0, 0.95, 1);

    background: #FFF;
    box-shadow: shadow(16);

    .sidebar-shown &,
    [data-sidebar=shown] & {
        left: 0;
        transition-timing-function: cubic-bezier(0.06, 0, 0.25, 1);
    }

    // &::before {
    //     content: "";
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: rgba(0,0,0,0.0);
    //     pointer-events: none;
    //     position: fixed;
    //     z-index: 15;
    //     top: 0;
    //     left: 0;
    //
    //     transition-property: background-color;
    //     will-change: background-color;
    // }
    //
    // .sidebar-shown &::before {
    //     background-color: rgba(0,0,0,0.3);
    // }

    // @at-root
    // body>:not(.sidebar):not(.app-bar) {
    //     transition-property: filter;
    //     will-change: filter, pointer-events;
    //     filter: blur(0px) brightness(100%);
    // }
    // @at-root
    // .sidebar-shown body,
    // body.sidebar-shown {
    //     &>:not(.sidebar):not(.app-bar) {
    //         filter: blur(5px) brightness(50%);
    //         pointer-events: none;
    //     }
    // }
}
